In [1]:
import os
import pandas as pd

In [2]:
BASE_DIR = os.path.join(os.path.abspath(''), '..')
print(BASE_DIR)

/Users/kalle/Documents/gammathon/data_pipeline/..

In [3]:
df_selected = pd.read_csv(BASE_DIR + '//data/guldhedenAnalytica.csv')
print(df_selected.head)

<bound method NDFrame.head of       customer_id
0         1189186
1         1407520
2         1177929
3         1199503
4          992561
...           ...
9995       159456
9996       829502
9997      1337808
9998      1243970
9999       992331

[10000 rows x 1 columns]>

In [4]:
df_customer = pd.read_csv(BASE_DIR + '//data/customer_data.csv')
print(df_customer)

          customer_id       month  months_since_joined  referred_friends  \
0                   2  2017-02-01                   62                 1
1                   4  2017-02-01                   62                 1
2                   7  2017-02-01                   62                 1
3                  14  2017-02-01                   62                 0
4                  20  2017-02-01                   62                 0
...               ...         ...                  ...               ...
13131247      1423204  2020-10-01                    1                 0
13131248      1423205  2020-10-01                    1                 0
13131249      1423206  2020-10-01                    1                 2
13131250      1423207  2020-10-01                    1                 1
13131251      1423208  2020-10-01                    1                 2

          transaction_count  transaction_value           clv  \
0                      58.0         743.785020  24461.876134
1                      17.0         185.170485   6089.955209
2                      71.0          71.000000   2335.074193
3                      25.0         187.986119   6182.556815
4                      63.0         342.682994  11270.284723
...                     ...                ...           ...
13131247               26.0          72.892389    345.514806
13131248               19.0          52.500548    248.856114
13131249               19.0          55.659544    263.829967
13131250               22.0          63.473847    300.870287
13131251               22.0          65.412040    310.057450

          total_reward_points  earned_reward_points cluster  churned
0                41822.999177                2146.0       B    False
1                 9374.999673                 153.0       B    False
2                14302.040625                 213.0       B    False
3                 3200.996803                 225.0       C    False
4                31744.997234                1071.0       B    False
...                       ...                   ...     ...      ...
13131247            77.987312                  78.0       B     True
13131248            37.988428                  38.0       B    False
13131249            37.999962                  38.0       C    False
13131250            65.999949                  66.0       B    False
13131251            65.999415                  66.0       C    False

[13131252 rows x 11 columns]

In [5]:
df_customer_last_month = df_customer.loc[df_customer.month == '2020-10-01']
df_customer_last_month

,customer_id,month,months_since_joined,referred_friends,transaction_count,transaction_value,clv,total_reward_points,earned_reward_points,cluster,churned
12783288,2,2020-10-01,106,1,102.0,1537.334420,51235.970019,252345.993520,7752.0,B,False
12783289,20,2020-10-01,106,2,77.0,1058.678182,35283.411936,140602.993890,4004.0,B,False
12783290,30,2020-10-01,106,0,97.0,97.000000,3232.796344,34425.597670,388.0,C,False
12783291,40,2020-10-01,106,4,20.0,138.011936,4599.633829,7419.996828,120.0,C,False
12783292,43,2020-10-01,106,0,8.0,120.236714,4007.224847,8394.021810,48.0,B,False
...,...,...,...,...,...,...,...,...,...,...,...
13131247,1423204,2020-10-01,1,0,26.0,72.892389,345.514806,77.987312,78.0,B,True
13131248,1423205,2020-10-01,1,0,19.0,52.500548,248.856114,37.988428,38.0,B,False
13131249,1423206,2020-10-01,1,2,19.0,55.659544,263.829967,37.999962,38.0,C,False
13131250,1423207,2020-10-01,1,1,22.0,63.473847,300.870287,65.999949,66.0,B,False
13131251,1423208,2020-10-01,1,2,22.0,65.412040,310.057450,65.999415,66.0,C,False

In [6]:
df_customer_selected = df_customer_last_month[df_customer_last_month.customer_id.isin(df_selected.customer_id)]
df_customer_selected

,customer_id,month,months_since_joined,referred_friends,transaction_count,transaction_value,clv,total_reward_points,earned_reward_points,cluster,churned
12783296,109,2020-10-01,106,2,115.0,115.000000,3832.696697,96856.329274,575.0,B,False
12783315,400,2020-10-01,106,1,64.0,190.897185,6362.182684,24365.947843,576.0,C,False
12783317,416,2020-10-01,106,2,70.0,744.531320,24813.588965,65011.230243,2590.0,B,False
12783327,520,2020-10-01,106,1,110.0,110.000000,3666.057710,62686.188865,550.0,B,False
12783359,917,2020-10-01,106,1,58.0,730.330956,24340.322101,36716.789476,2088.0,C,False
...,...,...,...,...,...,...,...,...,...,...,...
13131074,1423031,2020-10-01,1,1,22.0,66.525635,315.335963,65.991663,66.0,B,False
13131088,1423045,2020-10-01,1,1,32.0,81.437082,386.017220,128.000000,128.0,B,False
13131112,1423069,2020-10-01,1,3,14.0,35.492489,168.236775,13.999853,14.0,A,False
13131124,1423081,2020-10-01,1,1,32.0,88.181899,417.988107,127.999889,128.0,B,False
13131188,1423145,2020-10-01,1,1,21.0,65.179786,308.956550,62.999910,63.0,B,False

In [7]:
df_customer_not_selected = df_customer.drop(df_customer_selected.index)
df_customer_not_selected

,customer_id,month,months_since_joined,referred_friends,transaction_count,transaction_value,clv,total_reward_points,earned_reward_points,cluster,churned
0,2,2017-02-01,62,1,58.0,743.785020,24461.876134,41822.999177,2146.0,B,False
1,4,2017-02-01,62,1,17.0,185.170485,6089.955209,9374.999673,153.0,B,False
2,7,2017-02-01,62,1,71.0,71.000000,2335.074193,14302.040625,213.0,B,False
3,14,2017-02-01,62,0,25.0,187.986119,6182.556815,3200.996803,225.0,C,False
4,20,2017-02-01,62,0,63.0,342.682994,11270.284723,31744.997234,1071.0,B,False
...,...,...,...,...,...,...,...,...,...,...,...
13131247,1423204,2020-10-01,1,0,26.0,72.892389,345.514806,77.987312,78.0,B,True
13131248,1423205,2020-10-01,1,0,19.0,52.500548,248.856114,37.988428,38.0,B,False
13131249,1423206,2020-10-01,1,2,19.0,55.659544,263.829967,37.999962,38.0,C,False
13131250,1423207,2020-10-01,1,1,22.0,63.473847,300.870287,65.999949,66.0,B,False
13131251,1423208,2020-10-01,1,2,22.0,65.412040,310.057450,65.999415,66.0,C,False

In [8]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

for col in ['cluster']:
    df_customer_selected[col] = encoder.fit_transform(df_customer_selected[col])
    df_customer_not_selected[col] = encoder.transform(df_customer_not_selected[col])

/Users/kalle/opt/anaconda3/envs/dat405/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
df_customer_not_selected = df_customer_not_selected[df_customer_not_selected['churned'] == False]
#df_customer_not_selected.drop(df_customer_not_selected['churned'] == True, axis =1, inplace=True)
df_customer_not_selected['churned'].describe()

count     12530477
unique           1
top          False
freq      12530477
Name: churned, dtype: object

In [14]:
df_customer_selected.drop(['churned',], axis=1, inplace=True)
df_customer_not_selected.drop(['churned'], axis=1, inplace=True)

/Users/kalle/opt/anaconda3/envs/dat405/lib/python3.7/site-packages/pandas/core/frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [15]:
df_customer_selected.drop(['month',], axis=1, inplace=True)
df_customer_not_selected.drop(['month'], axis=1, inplace=True)

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

df_customer_selected[['months_since_joined', 'referred_friends', 'transaction_count', 'transaction_value', 'clv', 'total_reward_points', 'earned_reward_points']] = scaler.fit_transform(df_customer_selected[['months_since_joined', 'referred_friends', 'transaction_count', 'transaction_value', 'clv', 'total_reward_points', 'earned_reward_points']])
df_customer_not_selected[['months_since_joined', 'referred_friends', 'transaction_count', 'transaction_value', 'clv', 'total_reward_points', 'earned_reward_points']] = scaler.fit_transform(df_customer_not_selected[['months_since_joined', 'referred_friends', 'transaction_count', 'transaction_value', 'clv', 'total_reward_points', 'earned_reward_points']])

/Users/kalle/opt/anaconda3/envs/dat405/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/kalle/opt/anaconda3/envs/dat405/lib/python3.7/site-packages/pandas/core/indexing.py:1736: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())
/Users/kalle/opt/anaconda3/envs/dat405/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/kalle/opt/anaconda3/envs/dat405/lib/python3.7/site-packages/pandas/core/indexing.py:1736: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [17]:
df_customer_selected_A = df_customer_selected.loc[df_customer_selected.cluster == 0]
df_customer_selected_B = df_customer_selected.loc[df_customer_selected.cluster == 1]
df_customer_selected_C = df_customer_selected.loc[df_customer_selected.cluster == 2]

df_customer_not_selected_A = df_customer_not_selected.loc[df_customer_not_selected.cluster == 0]
df_customer_not_selected_B = df_customer_not_selected.loc[df_customer_not_selected.cluster == 1]
df_customer_not_selected_C = df_customer_not_selected.loc[df_customer_not_selected.cluster == 2]

In [52]:
from sklearn.neighbors import NearestNeighbors
from scipy.spatial import KDTree
columns_to_compare = ['months_since_joined', 'referred_friends', 'transaction_count', 'transaction_value', 'clv', 'total_reward_points', 'earned_reward_points']


dataA_A = df_customer_selected_A[columns_to_compare]
dataB_A = df_customer_not_selected_A[columns_to_compare]

neigh = NearestNeighbors(n_neighbors=1)
neigh.fit(dataA_A) 
print(neigh.kneighbors(dataB_A)[1])
cluster_A_neighbours = neigh.kneighbors(dataB_A)[1]

dataA_B = df_customer_selected_B[columns_to_compare]
dataB_B = df_customer_not_selected_B[columns_to_compare]

neigh = NearestNeighbors(n_neighbors=1)
neigh.fit(dataA_B) 
print(neigh.kneighbors(dataB_B)[1])
cluster_B_neighbours = neigh.kneighbors(dataB_B)[1]

dataA_C = df_customer_selected_C[columns_to_compare]
dataB_C = df_customer_not_selected_C[columns_to_compare]

neigh = NearestNeighbors(n_neighbors=1)
neigh.fit(dataA_C) 
print(neigh.kneighbors(dataB_C)[1])
cluster_C_neighbours = neigh.kneighbors(dataB_C)[1]

[[ 306]
 [ 336]
 [ 304]
 ...
 [1912]
 [1978]
 [1955]]
[[ 817]
 [ 739]
 [ 899]
 ...
 [4994]
 [4974]
 [5057]]
[[ 396]
 [ 420]
 [ 489]
 ...
 [2893]
 [2759]
 [2862]]

In [53]:
print(dataB_A.iloc[0,:])
print(dataA_A.iloc[306,:])

months_since_joined     0.580952
referred_friends        0.222222
transaction_count       0.248322
transaction_value       0.092954
clv                     0.091728
total_reward_points     0.014640
earned_reward_points    0.024605
Name: 9, dtype: float64
months_since_joined     0.590476
referred_friends        0.166667
transaction_count       0.289062
transaction_value       0.068025
clv                     0.067216
total_reward_points     0.012024
earned_reward_points    0.019407
Name: 12833466, dtype: float64