In [1]:
import os
import pandas as pd

In [2]:
BASE_DIR = os.path.join(os.path.abspath(''), '..')
print(BASE_DIR)

/Users/kalle/Documents/gammathon/data_pipeline/..

In [3]:
df_selected = pd.read_csv(BASE_DIR + '//data/guldhedenAnalytica.csv')
print(df_selected.head)

<bound method NDFrame.head of       customer_id
0         1189186
1         1407520
2         1177929
3         1199503
4          992561
...           ...
9995       159456
9996       829502
9997      1337808
9998      1243970
9999       992331

[10000 rows x 1 columns]>

In [4]:
df_customer = pd.read_csv(BASE_DIR + '//data/customer_data.csv')
print(df_customer)

          customer_id       month  months_since_joined  referred_friends  \
0                   2  2017-02-01                   62                 1
1                   4  2017-02-01                   62                 1
2                   7  2017-02-01                   62                 1
3                  14  2017-02-01                   62                 0
4                  20  2017-02-01                   62                 0
...               ...         ...                  ...               ...
13131247      1423204  2020-10-01                    1                 0
13131248      1423205  2020-10-01                    1                 0
13131249      1423206  2020-10-01                    1                 2
13131250      1423207  2020-10-01                    1                 1
13131251      1423208  2020-10-01                    1                 2

          transaction_count  transaction_value           clv  \
0                      58.0         743.785020  24461.876134
1                      17.0         185.170485   6089.955209
2                      71.0          71.000000   2335.074193
3                      25.0         187.986119   6182.556815
4                      63.0         342.682994  11270.284723
...                     ...                ...           ...
13131247               26.0          72.892389    345.514806
13131248               19.0          52.500548    248.856114
13131249               19.0          55.659544    263.829967
13131250               22.0          63.473847    300.870287
13131251               22.0          65.412040    310.057450

          total_reward_points  earned_reward_points cluster  churned
0                41822.999177                2146.0       B    False
1                 9374.999673                 153.0       B    False
2                14302.040625                 213.0       B    False
3                 3200.996803                 225.0       C    False
4                31744.997234                1071.0       B    False
...                       ...                   ...     ...      ...
13131247            77.987312                  78.0       B     True
13131248            37.988428                  38.0       B    False
13131249            37.999962                  38.0       C    False
13131250            65.999949                  66.0       B    False
13131251            65.999415                  66.0       C    False

[13131252 rows x 11 columns]

In [5]:
df_customer_last_month = df_customer.loc[df_customer.month == '2020-10-01']
df_customer_last_month

,customer_id,month,months_since_joined,referred_friends,transaction_count,transaction_value,clv,total_reward_points,earned_reward_points,cluster,churned
12783288,2,2020-10-01,106,1,102.0,1537.334420,51235.970019,252345.993520,7752.0,B,False
12783289,20,2020-10-01,106,2,77.0,1058.678182,35283.411936,140602.993890,4004.0,B,False
12783290,30,2020-10-01,106,0,97.0,97.000000,3232.796344,34425.597670,388.0,C,False
12783291,40,2020-10-01,106,4,20.0,138.011936,4599.633829,7419.996828,120.0,C,False
12783292,43,2020-10-01,106,0,8.0,120.236714,4007.224847,8394.021810,48.0,B,False
...,...,...,...,...,...,...,...,...,...,...,...
13131247,1423204,2020-10-01,1,0,26.0,72.892389,345.514806,77.987312,78.0,B,True
13131248,1423205,2020-10-01,1,0,19.0,52.500548,248.856114,37.988428,38.0,B,False
13131249,1423206,2020-10-01,1,2,19.0,55.659544,263.829967,37.999962,38.0,C,False
13131250,1423207,2020-10-01,1,1,22.0,63.473847,300.870287,65.999949,66.0,B,False
13131251,1423208,2020-10-01,1,2,22.0,65.412040,310.057450,65.999415,66.0,C,False

In [6]:
df_selected.customer_id

0       1189186
1       1407520
2       1177929
3       1199503
4        992561
         ...
9995     159456
9996     829502
9997    1337808
9998    1243970
9999     992331
Name: customer_id, Length: 10000, dtype: int64

In [7]:
#df_customer_selected = df_customer_last_month[df_customer_last_month.customer_id.isin(df_selected.customer_id)]
df_customer_selected = df_customer_last_month.set_index('customer_id').loc[df_selected['customer_id'],:]
df_customer_selected.reset_index(inplace=True)


df_customer_selected

,customer_id,month,months_since_joined,referred_friends,transaction_count,transaction_value,clv,total_reward_points,earned_reward_points,cluster,churned
0,1189186,2020-10-01,14,1,34.0,69.566985,877.048888,1558.993131,102.0,B,False
1,1407520,2020-10-01,1,0,13.0,41.576821,197.076913,25.988865,26.0,A,False
2,1177929,2020-10-01,15,2,27.0,98.744866,1323.195987,1679.997339,108.0,B,False
3,1199503,2020-10-01,14,0,33.0,75.901664,956.911807,831.458258,99.0,C,False
4,992561,2020-10-01,27,1,45.0,292.341332,6729.602038,7856.999081,630.0,B,False
...,...,...,...,...,...,...,...,...,...,...,...
9995,159456,2020-10-01,91,0,76.0,940.629918,31331.006571,108024.997257,3572.0,B,False
9996,829502,2020-10-01,38,1,51.0,573.597544,16638.480467,29186.985593,1428.0,B,False
9997,1337808,2020-10-01,5,0,15.0,42.426751,280.403380,104.434973,30.0,A,False
9998,1243970,2020-10-01,11,1,38.0,55.214684,571.733183,1215.999782,76.0,B,False
9999,992331,2020-10-01,27,1,22.0,164.347062,3783.215715,4584.770032,176.0,C,False

In [8]:
df_customer_not_selected = df_customer.drop(df_customer_selected.index)
df_customer_not_selected

,customer_id,month,months_since_joined,referred_friends,transaction_count,transaction_value,clv,total_reward_points,earned_reward_points,cluster,churned
10000,75418,2017-02-01,55,1,47.0,167.712769,5442.153370,11880.996018,376.0,C,False
10001,75420,2017-02-01,55,1,24.0,305.136768,9901.458938,10696.963774,360.0,C,True
10002,75424,2017-02-01,55,0,36.0,441.120568,14314.031123,17968.995028,792.0,C,False
10003,75425,2017-02-01,55,1,60.0,859.092910,27876.919682,41921.351112,2520.0,B,False
10004,75440,2017-02-01,55,0,55.0,667.047729,21645.197802,52906.998930,1815.0,C,False
...,...,...,...,...,...,...,...,...,...,...,...
13131247,1423204,2020-10-01,1,0,26.0,72.892389,345.514806,77.987312,78.0,B,True
13131248,1423205,2020-10-01,1,0,19.0,52.500548,248.856114,37.988428,38.0,B,False
13131249,1423206,2020-10-01,1,2,19.0,55.659544,263.829967,37.999962,38.0,C,False
13131250,1423207,2020-10-01,1,1,22.0,63.473847,300.870287,65.999949,66.0,B,False
13131251,1423208,2020-10-01,1,2,22.0,65.412040,310.057450,65.999415,66.0,C,False

In [9]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

for col in ['cluster']:
    df_customer_selected[col] = encoder.fit_transform(df_customer_selected[col])
    df_customer_not_selected[col] = encoder.transform(df_customer_not_selected[col])

In [10]:
df_customer_not_selected = df_customer_not_selected[df_customer_not_selected['churned'] == False]
#df_customer_not_selected.drop(df_customer_not_selected['churned'] == True, axis =1, inplace=True)
df_customer_not_selected['churned'].describe()

count     12530626
unique           1
top          False
freq      12530626
Name: churned, dtype: object

In [11]:
#df_customer_selected.drop(['churned',], axis=1, inplace=True)
#df_customer_not_selected.drop(['churned'], axis=1, inplace=True)

In [12]:
#df_customer_selected.drop(['month',], axis=1, inplace=True)
#df_customer_not_selected.drop(['month'], axis=1, inplace=True)

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

df_customer_selected[['months_since_joined', 'referred_friends', 'transaction_count', 'transaction_value', 'clv', 'total_reward_points', 'earned_reward_points']] = scaler.fit_transform(df_customer_selected[['months_since_joined', 'referred_friends', 'transaction_count', 'transaction_value', 'clv', 'total_reward_points', 'earned_reward_points']])
df_customer_not_selected[['months_since_joined', 'referred_friends', 'transaction_count', 'transaction_value', 'clv', 'total_reward_points', 'earned_reward_points']] = scaler.fit_transform(df_customer_not_selected[['months_since_joined', 'referred_friends', 'transaction_count', 'transaction_value', 'clv', 'total_reward_points', 'earned_reward_points']])

/Users/kalle/opt/anaconda3/envs/dat405/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/kalle/opt/anaconda3/envs/dat405/lib/python3.7/site-packages/pandas/core/indexing.py:1736: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [14]:
df_customer_selected_A = df_customer_selected.loc[df_customer_selected.cluster == 0]
df_customer_selected_B = df_customer_selected.loc[df_customer_selected.cluster == 1]
df_customer_selected_C = df_customer_selected.loc[df_customer_selected.cluster == 2]

df_customer_not_selected_A = df_customer_not_selected.loc[df_customer_not_selected.cluster == 0]
df_customer_not_selected_B = df_customer_not_selected.loc[df_customer_not_selected.cluster == 1]
df_customer_not_selected_C = df_customer_not_selected.loc[df_customer_not_selected.cluster == 2]

In [ ]:
from sklearn.neighbors import NearestNeighbors
from scipy.spatial import KDTree
columns_to_compare = ['transaction_count', 'clv']


dataA_A = df_customer_selected_A[columns_to_compare]
dataB_A = df_customer_not_selected_A[columns_to_compare]

neigh = NearestNeighbors(n_neighbors=1)
neigh.fit(dataB_A) 
print(neigh.kneighbors(dataA_A)[1])
cluster_A_neighbours = neigh.kneighbors(dataA_A)[1]

dataA_B = df_customer_selected_B[columns_to_compare]
dataB_B = df_customer_not_selected_B[columns_to_compare]

neigh = NearestNeighbors(n_neighbors=1)
neigh.fit(dataB_B) 
print(neigh.kneighbors(dataA_B)[1])
cluster_B_neighbours = neigh.kneighbors(dataA_B)[1]

dataA_C = df_customer_selected_C[columns_to_compare]
dataB_C = df_customer_not_selected_C[columns_to_compare]

neigh = NearestNeighbors(n_neighbors=1)
neigh.fit(dataB_C) 
print(neigh.kneighbors(dataA_C)[1])
cluster_C_neighbours = neigh.kneighbors(dataA_C)[1]

In [ ]:
# Test neighbours

print(dataB_A.iloc[0,:])
print(dataA_A.iloc[306,:])

In [ ]:
print(cluster_A_neighbours.shape)

In [ ]:
cluster_A_neighbours = cluster_A_neighbours.flatten()
pd.set_option('display.max_columns', 500)
alike_in_selected_A = df_customer_selected_A.iloc[cluster_A_neighbours,:]
alike_in_selected_A.rename(columns={"churned": "churned_sent"}, inplace=True)
alike_in_selected_A = alike_in_selected_A.reset_index(drop=True)
#print(neighbour_customer_A)
#print(df_customer_not_selected_A)

alike_in_selected_A = alike_in_selected_A.reset_index(drop=True)
df_customer_not_selected_A = df_customer_not_selected_A.reset_index(drop=True)

df_A = alike_in_selected_A
df_A['churned_control'] = df_customer_not_selected_A['churned']

cluster_B_neighbours = cluster_B_neighbours.flatten()
alike_in_selected_B = df_customer_selected_B.iloc[cluster_B_neighbours,:]
alike_in_selected_B.rename(columns={"churned": "churned_sent"}, inplace=True)
alike_in_selected_B = alike_in_selected_B.reset_index(drop=True)
#print(neighbour_customer_A)
#print(df_customer_not_selected_A)

alike_in_selected_B = alike_in_selected_B.reset_index(drop=True)
df_customer_not_selected_B = df_customer_not_selected_B.reset_index(drop=True)

df_B = alike_in_selected_B
df_B['churned_control'] = df_customer_not_selected_B['churned']

cluster_C_neighbours = cluster_C_neighbours.flatten()
alike_in_selected_C = df_customer_selected_C.iloc[cluster_C_neighbours,:]
alike_in_selected_C.rename(columns={"churned": "churned_sent"}, inplace=True)
alike_in_selected_C = alike_in_selected_C.reset_index(drop=True)
#print(neighbour_customer_A)
#print(df_customer_not_selected_A)

alike_in_selected_C = alike_in_selected_C.reset_index(drop=True)
df_customer_not_selected_C = df_customer_not_selected_C.reset_index(drop=True)

df_C = alike_in_selected_C
df_C['churned_control'] = df_customer_not_selected_C['churned']

# All se
df = pd.concat([df_A,df_B,df_C], ignore_index=True)